.button-group {
    background-color: aliceblue;
    border: 1px solid #ededed;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.button-group--wrap {
    flex-wrap: wrap;
}

.button-group--wrap .button {
    /* width: 100%; */
    /* flex: 1 1 auto; */
}

.button-group--cq {
    container-type: inline-size;
}

@container (max-width: 400px) {
    .button-group--cq .button {
        background-color: yellow;
        /* flex: 1 1 auto; */
        /* flex: 1 1 50%; */
        flex: 1;
        white-space: nowrap;
    }
}
