*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 24px;
  margin: 0;
}

:focus {
  outline-color: red;
}

:focus-visible {
  outline-offset: 4px;
  outline-color: blue;
}

@supports (container-type: inline-size) {
  #main-title {
    &::after {
      content: " - Yay! Your browser supports container queries!";
      color: green;
    }
  }
}

@supports not (container-type: inline-size) {
  #main-title {
    &::after {
      content: " - Aww... Your browser doesn't support container queries. :(";
      color: red;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media only screen and (min-width: 953px) {
  .grid--columns-75perc-25perc {
    grid-template-columns: 3fr 1fr;
  }
}
